@charset "UTF-8";
body {
  background-color: #282727;
  font-family: 'Cinzel', serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 5px #ff8800;
}

.navbar-brand img {
  width: 100px !important;
  border: 1px solid #ff8800 !important;
  border-radius: 10px !important;
  background-color: #301918;
}

.navbar .nav-link {
  color: #ffffff;
  transition: all 0.3s ease;
}
.navbar .navbar-toggler {
  background-color: #ffffff;
}

.navbar .nav-link:hover {
  color: #ff8800;
  transform: scale(1.5);
  margin: auto 30px;
  text-decoration: underline 1px;
  text-decoration-color: #ff8800;
}

/*aqui começa lista loja nabar*/
.nav-item .dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: #ff8800;
}

.nav-link.dropdown-toggle.show {
  color: #ff8c00 !important;
  transform: scale(1.5);
  margin: auto 30px;
}

/*aqui termina lista loja navbar
  aqui termina o nav bar
  aqui começa o home e o carousel*/
.imagem-backgraund {
  width: 100%;
  height: 60%;
}

.carousel {
  width: 100%;
  margin: 150px auto;
  border: 5px solid #121212;
  border-radius: 20px;
}

.carousel-item img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: saturate(70%) brightness(30%);
}

.carousel .btn {
  background-color: #ff8800;
  border: solid 1px #64141C;
  color: #000000;
  padding: 15px;
  transition: all 0.3s ease;
}

.carousel .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ff8800, 0 0 10px #f06c20, 0 0 20px #ff4d00;
}

.carousel .carousel-indicators button {
  background-color: #ff8800;
  transition: all 0.3s ease;
}

.carousel .carousel-indicators button:hover {
  background-color: #64141C;
  transform: scale(1.5);
  margin: 0 20px;
}

/*aqui termina o crsl
aqui começa video card*/
.video-card {
  width: 260px;
  height: 520px;
  object-fit: cover;
  border-radius: 20px;
  cursor: default;
  transition: all 0.3s ease;
}

.video-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 10px #ff8800, 0 0 20px #ff4d00;
}

.btn-segue button {
  background-color: #ff8800;
  border: solid 1px #64141C;
  border-radius: 10px;
  color: #000000;
  padding: 15px;
  transition: all 0.3s ease;
  display: flex;
  margin: auto;
}

.btn-segue button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ff8800, 0 0 10px #f06c20, 0 0 20px #ff4d00;
}

.btn-segue a {
  text-decoration: none;
}

/*aqui termina video card*/
.intro-home {
  margin: 50px auto;
  margin-top: 150px;
  background-color: #301918;
  box-sizing: border-box;
  border-radius: 50px;
  width: 98%;
  padding: 15px;
}

.conteudo-intro-home {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-left: 3%;
  color: #ffffff;
}

.imgi-intro-home {
  width: 35%;
  border-radius: 20px;
}

.imgintro-home {
  width: 100%;
  border-radius: 10px;
}

.texto-intro-home {
  width: 60%;
  margin-top: 50px;
  font-size: 25px;
  text-align: justify;
}

.card-dragao {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 750px;
}

.card-dragao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.card-info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.35);
  padding-bottom: 40px;
}

.card-info h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.card-info p {
  margin-bottom: 5px;
}

.btn-comprar {
  background: #7d111a;
  color: white;
  padding: 15px 40px;
  border-radius: 10px;
  transition: .3s;
}

.btn-comprar:hover {
  background: #a31723;
  color: white;
  transform: scale(1.05);
}

.card-dragao:hover img {
  transform: scale(1.08);
}

/*aqui termina home */
/*pagina informação*/
.apresenta {
  margin-top: 300px;
  width: 100%;
}

.apresenta h1 {
  text-align: center;
  background-color: #ff8800;
  color: #ffffff;
  width: 40%;
  padding: 30px;
  border-radius: 30px;
  margin: auto;
}

.intro {
  margin: 50px auto;
  margin-top: 150px;
  background-color: #301918;
  box-sizing: border-box;
  border-radius: 50px;
  width: 98%;
  padding: 15px;
}

.h2-intro {
  margin-left: 3%;
  background-color: #ff8800;
  color: #ffffff;
  width: 30%;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}

.conteudo-intro {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-left: 3%;
  color: #ffffff;
}

.imgi-intro {
  width: 35%;
  border-radius: 0px 20px 20px 20px;
}

.imgintro {
  width: 100%;
  border-radius: 0px 20px 20px 20px;
}

.texto-intro {
  width: 60%;
  margin-top: 100px;
  font-size: 25px;
  text-align: justify;
}

.icone-card {
  width: 150px !important;
  height: 150px !important;
  object-fit: contain !important;
  margin: 20px auto !important;
  padding: 10px;
  display: block !important;
  background-color: #ff8800;
  border-radius: 50px;
}

.card {
  margin-top: 100px;
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 50px;
}

/*aqui termina informação
  aqui começa contato*/
.secao-newsletter {
  background-color: #301918;
  padding: 60px 0;
  color: white;
}

.titulo-newsletter {
  font-size: 3rem;
  margin-top: 150px;
}

.texto-newsletter {
  margin: 15px 0;
}

.secao-contato {
  background-color: #282727;
  color: white;
}

.titulo-contato {
  margin-bottom: 50px;
  font-size: 3rem;
}

.formulario-contato {
  max-width: 1000px;
  margin: auto;
}

.campo-contato {
  width: 100%;
  padding: 15px;
  background: transparent;
  border: 1px solid #ff8800;
  border-radius: 5px;
  color: white;
}

.campo-contato::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.campo-contato:focus {
  outline: none;
  border-color: #ff8c00;
}

.mensagem-contato {
  min-height: 250px;
  resize: none;
}

.texto-recaptcha {
  font-size: 0.9rem;
  color: #cfcfcf;
}

.botao-enviar-mensagem {
  background-color: #ff8800;
  color: white;
  border: none;
  padding: 15px 45px;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .3s;
}

.botao-enviar-mensagem:hover {
  transform: scale(1.1);
}

/*Aqui termina contato*/
.secao-loja {
  background-color: #301918;
  padding: 60px 0;
  color: white;
  text-align: center;
}

.titulo-loja {
  font-size: 3rem;
  margin-top: 150px;
}

.texto-loja {
  margin: 15px 0;
}

/*aqui começa o footer*/
.footer {
  width: 100%;
  color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 50px;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands,
.fa-solid {
  font-size: 40px;
  color: white;
  margin: 0 15px;
  transition: 0.3s;
}

.fa-brands:hover,
.fa-solid:hover {
  color: #ff8800;
  transform: scale(1.2);
}

footer a {
  text-decoration: none;
}

/*aqui termina o footer*/

/*# sourceMappingURL=style.css.map */
